<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Space Warfare</title>
  
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" />

	<!-- <script src="https://cdn.jsdelivr.net/gh/0-harshit-0/Utility-HTML5Canvas@master/src/vector.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/gh/0-harshit-0/Utility-HTML5Canvas@master/src/shapes.min.js" defer></script> -->
	<script src="https://cdn.jsdelivr.net/gh/0-harshit-0/Utility-HTML5Canvas@master/utility.min.js" defer></script>

	<!-- <script type="text/javascript" src="easy/script.js" defer></script> -->
	<script type="text/javascript" src="constants.js" defer></script>
	<script type="text/javascript" src="events.js" defer></script>
	<script type="text/javascript" src="script.js" defer></script>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<canvas id="scores"></canvas>
	<canvas id="invaders"></canvas>
	<canvas id="bullets"></canvas>
	<canvas id="players"></canvas>

</body>
</html>

