@font-face {
  font-family: sometype;
  src: url('../assets/mono/fonts/woff2-cffbased/SometypeMono-Regular.woff2') format('woff2');
}
::root {
  --lb: rgba(50, 50, 50, 0.8);
}
::selection {
  color: white;
  background: grey;
}
*, *::before, *::after {
  font-family: 'Russo One', sans-serif;
  user-select: none;
  text-align: center;
  box-sizing: border-box;
  margin: 0;
}
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
html, body {
  font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
  height: 100%;
}
body {
  line-height: 1.5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',"Century Gothic", "Verdana", Futura,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img, picture, video, canvas, svg {
  display: block;
  max-inline-size: 100%;
  object-fit: cover;
  block-size: auto;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root, #__next {
  isolation: isolate;
}
canvas{
  -webkit-transform3d: translate(0,0,0);
  -moz-transform3d: translate(0,0,0);
  transform3d: translate(0,0,0);

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background: black;
}
/* css reset */



.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;

	padding-inline: 15%;
	height: 100vh;
}
.bg{
	padding-block: 1%;
	padding-inline: 2%;
	border-radius: 5px;

	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(1px);
	transition: 0.3s linear;
}
.bg:hover {
	background: rgba(55, 250, 255, 0.61);
}

.header {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#h {
	font-size: 1.5rem;
}
.navBtn {
	visibility: hidden;
	
	cursor: pointer;
}

.des {
	font-size: 1rem;
}

.lvls {
	display: flex;
	justify-content: space-around;

	width: 50%;
}
.modes{
	cursor: pointer;
	font-size: 1rem;
	
}

 /* ============================================== */
.shipContainer {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;


	z-index: 2;
	width: 100%;
	height: max-content;
}
.ships{
	display: flex;
	flex-direction: column;
	align-items: center;

	border-radius: 4px;
	cursor: pointer;
	padding-inline: 2%;
	padding-block: 2%;

	width: 30%;
}


.imgs{
	width: 30%;
}
.shipName{
	font-size: .6rem;
	text-decoration: underline;
	margin-block: 0 5%;
}
.desc{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	font-size: .5rem;
}
.desc section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 10% 0;
}
.desc section span:nth-child(1) {
	font-size: .35rem;
}