body{
	margin: 0px;
	overscroll-behavior: none;
	background: black;
}
*{
	font-family: 'Russo One', sans-serif;
	user-select: none;
}

#back{
	position: fixed;
	width: 100%;
	height: 100%;
}
#front{
	position: fixed;
	width: 100%;
	height: 100%;
}
#invaders{
	position: fixed;
	width: 100%;
	height: 100%;
}
