body{
	margin: 0px;
	overscroll-behavior: none;
	background: black;
}
*{
	font-family: 'Russo One', sans-serif;
	user-select: none;
}
#container{
	z-index: 999;
	position: fixed;
	width: 25vw;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 1%;
}
#txt{
	background: lightgray;
	position: relative;
	border-radius: 6px;
	padding: 1%;
	font-size: 1.5vmax;
}
button{
	position: relative;
	font-size: 1vmax;
	background: lightgray;
	color: black;
	border: none;
	border-radius: 5px;
	padding: 1% 3%;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.3s linear;
}
button:hover {
	background: lightgreen;
}

#back{
	position: fixed;
	width: 100%;
	height: 100%;
}
#front{
	position: fixed;
	width: 100%;
	height: 100%;
}
